.table-rows {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 2.6rem;
}

.table-rows:hover {
    background-color: rgb(255, 244, 244);
}

.sortButton:hover{
    cursor:pointer;
}

.check-box {
    margin-left: 20px;

}

.table-person-name {
    font-size: 0.7rem;
}

.table-person-email {
    font-size: 0.6rem;
    color: rgb(69, 85, 115);

}

.row-content {
    font-size: 0.7rem;
    font-weight: 400;
}

.btn-active {
    background-color: rgb(231, 244, 232);
    color: rgb(88, 158, 135);
    border: solid 1px rgb(231, 244, 232);
    border-radius: 0.25rem;
    font-size: 0.7rem;
    width: 3rem;
    height: 1.5rem;
}
.tripledot {
    font-size: 1rem;
    padding-right: 15px;
    position: relative;
}

.triple-dot {
    font-size: 1rem;
    padding-left: 10px;
}

.triple-dot.active {
    cursor: pointer;

    .tooltip {
        display: block;
    }
}

.tooltip {
    position: absolute;
    font-size: 0.7rem;
    background-color: white;
    display: none;
    width: 7rem;
    right: 0rem;
    text-align: start;
    border: 1px solid black;
}

.tooltip p {
    margin: 0;
    height: 2rem;
    padding-left: 0.4rem;
    padding-top:0.7rem;
}

.tooltip-text:hover {
    background-color: rgb(244, 72, 72);
    color: white;
}
.img-avatar {
    height:2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.profile-section-copy {
    display: flex;
    align-items: center;
}

.profile-section-copy p {
    margin: 0;
}