<div class="employees">
    <div>
        <h2 class="main-heading">Employees</h2>
        <p class="main-text">Find all of your company's employee accounts and their associated roles.</p>
    </div>
    <div class="employees-btns">
        <button class="btn-export" id="export-button">
            <div class="btn-flex">
                <div><img class="img-export" src="../../assets/images/Masked Icon.png" alt="export"></div>
                <div>EXPORT</div>
            </div>
        </button>
        <button class="btn-add-employee" id="button-add-employee">
            <div class="btn-flex">
                <div><img class="img-plus" src="../../assets/images/plus.png" alt="export"></div>
                <div>ADD EMPLOYEE</div>
            </div>
        </button>
    </div>
</div>
<app-filters></app-filters>
<app-employees-table></app-employees-table>