<form class="add-role-form">
    <h1 id="h1-tag">Create New Role</h1>
    <div class="input-rows">
        <app-form-fields 
        id="input-role-name-addRoles"
        class="label-input"
        type="text"
        label="Role Name"
        placeholder="Text"
        name="name"
        [isDateInput]="false"
        [isRequired]="true"
        ></app-form-fields>
        
        <app-form-fields-select
        id="input-department"
        class="label-input"
        label="Department"
        name="departmentId"
        [options] = "departmentOptions"
        ></app-form-fields-select>
    </div>
    <div>
        <app-form-fields 
        id="input-role-description"
        class="label-input-description"
        innerClass="description-input-box"
        type="text"
        label="Description"
        placeholder="Text"
        name="description"
        [isDateInput]="false"
        [isRequired]="false"
        height="1rem"
        width="22rem"
        ></app-form-fields>
    </div>
    <app-form-fields-select
    id="input-location"
    class="label-input"
    label="Location"
    name="locationId"
    [options] = "locationOptions"
    ></app-form-fields-select>

    <app-form-fields 
    id="input-assign-employee"
    class="label-input label-input-assign-emp"
    type="text"
    label="Assign Employee"
    placeholder="Search for an employee"
    name=""
    [isDateInput]="false"
    [isRequired]="false"
    width="16.6rem"
    height="2rem"
    ></app-form-fields>
    <div class="all-employees">
        <div class="emp-details">
            <app-employee-checkboxes></app-employee-checkboxes>
        </div>
    </div>
</form>
<div class="form-buttons">
    <button class="btn-cancel">Cancel</button>
    <button type="submit" class="btn-adding-role">Add Role</button>
</div>