<div class="employee-table-box">
    <div class="delete-and-add-section">
        <div class="delete-side-section">
            <img class="left-down-arrow" src="../../assets/images/arrow-turn left -down.png" alt="left down arrow">
            <button class="btn-delete">Delete</button>
        </div>
        <div class="add-side-section">
            <img class="add-icon" src="../../assets/images/table-add.png" alt="add icon">
        </div>
    </div>
    <table class="employee-table">
        <thead>
            <tr class="table-headings">
                <th>
                    <input type="checkbox" class="checkbox">
                </th>
                <th class ="th-user">
                    <div class="th-flex">
                        <div>
                            USER
                        </div>
                        <div class ="sortButton firstName">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-location">
                    <div class="th-flex">
                        <div>
                            LOCATION
                        </div>
                        <div class ="sortButton location">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-department">
                    <div class="th-flex">
                        <div>
                            DEPARTMENT
                        </div>
                        <div class ="sortButton department">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-role">
                    <div class="th-flex">
                        <div>
                            ROLE
                        </div>
                        <div class ="sortButton jobTitle">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-empno">
                    <div class="th-flex">
                        <div>
                            EMP NO
                        </div>
                        <div class ="sortButton empNo">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-status">
                    <div class="th-flex">
                        <div>
                            STATUS
                        </div>
                        <div class ="sortButton status">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="th-joindt">
                    <div class="th-flex">
                        <div>
                            JOIN DT
                        </div>
                        <div class ="sortButton joinDate">
                            <span class="material-symbols-outlined unfold">unfold_more</span>
                        </div>
                    </div>
                </th>
                <th class="tripledot">
                    ...
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- <app-employees-table-row></app-employees-table-row> -->
        </tbody>
    </table>

</div>