.c1 {
    padding: 1rem;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}


.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
}

.card-heading-text {
    font-size: 0.85rem;
    font-weight: 900;
}

.edit-icon {
    transform: scale(0.8)
}

.card-sub-heading {
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 0.69rem;
    padding: 0.18rem 0;
    font-weight: 500;
    color: rgb(69, 85, 115);

}

.card-sub-heading-left {
    display: flex;
    justify-content: start;
    align-items: center;

}

.card-sub-heading-right {
    display: flex;
    align-items: center;
    justify-content: start;
}

.imgs-top-5-emps {
    border-radius: 50%;
    border: 1px solid white;
    height: auto;
    width: 1rem;
    margin: -0.2rem;

}

.plus-43 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: -4px;
    background-color: white;
    font-size: 0.5rem;
}

.view-arrow {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 0.65rem;
    font-weight: 500;
    color: rgb(120, 120, 120);
}

.icon-arrow {
    transform: scale(0.8);
}

.card-icons {
    transform: scale(0.8);
    padding-right: 0.25rem;
}