<div class="roles">
    <div>
        <h2 class="main-heading">Roles</h2>
        <p class="main-text">All the roles are configured here</p>
    </div>
    <div>
        <button class="btn-add-role">
            <div class="btn-flex">
                <div><img class="img-plus" src="../../assets/images/plus.png" alt="export"></div>
                <div>ADD ROLE</div>
            </div>
        </button>
    </div>
</div>
<app-filter-box></app-filter-box>
<div class="cards">
    <app-roles-card></app-roles-card>
</div>