.label-input label{
    font-size:0.8rem;
    color:#444A5A
}
.label-input {
    display: flex;
    flex-direction: column;
}
.label-input label{
    font-size:0.8rem;
    color:#444A5A
}
.label-input input{
    height: 1.5rem;
    width:10rem;
    border: 1px solid lightgrey;
    outline:none;
}
select{
    height:2rem;
    width:16.6rem;
    border-style:none;
    background-color:rgb(243, 243, 243);
}