<div class="alphabet">
    <div>
        <span class="icon-filter"></span>
    </div>
    <button class="btn-alphabet" >A</button>
    <button class="btn-alphabet" >B</button>
    <button class="btn-alphabet" >C</button>
    <button class="btn-alphabet" >D</button>
    <button class="btn-alphabet" >E</button>
    <button class="btn-alphabet" >F</button>
    <button class="btn-alphabet" >G</button>
    <button class="btn-alphabet" >H</button>
    <button class="btn-alphabet" >I</button>
    <button class="btn-alphabet" >J</button>
    <button class="btn-alphabet" >K</button>
    <button class="btn-alphabet" >L</button>
    <button class="btn-alphabet" >M</button>
    <button class="btn-alphabet" >N</button>
    <button class="btn-alphabet" >O</button>
    <button class="btn-alphabet" >P</button>
    <button class="btn-alphabet" >Q</button>
    <button class="btn-alphabet" >R</button>
    <button class="btn-alphabet" >S</button>
    <button class="btn-alphabet" >T</button>
    <button class="btn-alphabet" >U</button>
    <button class="btn-alphabet" >V</button>
    <button class="btn-alphabet" >W</button>
    <button class="btn-alphabet" >X</button>
    <button class="btn-alphabet" >Y</button>
    <button class="btn-alphabet" >Z</button>
</div>