<div class="form-section">
    <form class="form-employee">
        <h1 id="h1-tag">Add Employee</h1>
        <div class="profile-picture-section">
            <img class="profile-pic" src="../../assets/images/profilePicDefault.jpg" alt="default-profile-picture" id="profile-picture">
            <div class="input-box">
                <label for="input-file">Upload Profile Picture</label>
                <input type="file" accept="image/jpeg , image/jpg, image/png" id="input-file" name="profilePicture">
            </div>
        </div>
        <h2>Personal Information</h2>
        <div class="input-rows">
            <app-form-fields 
            id="label-input-empno"
            class="label-input"
            type="text"
            label="Emp no"
            placeholder="Text"
            name="employeeId"
            [isDateInput]="false"
            [isRequired]="true"
            ></app-form-fields>
        </div>
        <div class="input-rows">
            <app-form-fields 
            id="input-first-name"
            class="label-input"
            type="text"
            label="First Name"
            placeholder="Text"
            name="firstName"
            [isDateInput]="false"
            [isRequired]="true"
            ></app-form-fields>

            <app-form-fields 
            id="input-last-name"
            class="label-input"
            type="text"
            label="Last Name"
            placeholder="Text"
            name="lastName"
            [isDateInput]="false"
            [isRequired]="true"
            ></app-form-fields>

            <app-form-fields 
            id="input-dob"
            class="label-input"
            type="text"
            label="Date of Birth"
            placeholder="Select"
            name="dob"
            [isDateInput]="true"
            [isRequired]="true"
            ></app-form-fields>
        </div>
        <div class="input-rows">
            <app-form-fields 
            id="input-email"
            class="label-input label-input-email"
            type="email"
            label="Email id"
            placeholder="Joe.j@technovert.com"
            name="emailId"
            [isDateInput]="false"
            [isRequired]="true"
            ></app-form-fields>

            <app-form-fields 
            id="input-phno"
            class="label-input label-input-phno"
            type="text"
            label="Mobile Number"
            placeholder="0000000000"
            name="phoneNo"
            pattern="[1-9]{1}[0-9]{9}"
            [isDateInput]="false"
            [isRequired]="true"
            ></app-form-fields>
        </div>
        <h2>Employement Information</h2>
        <div class="input-rows input-rows-emp-info">
            <app-form-fields 
            id="input-join-date"
            class="label-input"
            type="text"
            label="Joining Date"
            placeholder="12/08/2023"
            name="joinDate"
            [isDateInput]="true"
            [isRequired]="true"
            width="16rem"
            ></app-form-fields>

            <app-form-fields-select
            id="input-location"
            class="label-input"
            label="Location"
            name="locationId"
            [options] = "locationOptions"
            ></app-form-fields-select>

        </div>
        <div class="input-rows input-rows-emp-info"> 
            <app-form-fields-select
            id="input-job-title"
            class="label-input"
            label="Job Title"
            name="jobTitleId"
            [options] = "roleOptions"
            ></app-form-fields-select>
             
            <app-form-fields-select
            id="input-assign-manager"
            class="label-input"
            label="Assign Manager"
            name="managerId"
            [options] = "managerOptions"
            ></app-form-fields-select>
        </div>
        <div class="input-rows input-rows-emp-info">

            <app-form-fields-select
            id="input-assign-project"
            class="label-input"
            label="Assign Project"
            name="projectId"
            [options] = "projectOptions"
            ></app-form-fields-select>
        </div>
    </form>
    <div class="form-buttons">
        <button class="btn-cancel">Cancel</button>
        <button type="submit" class="btn-adding-employee">Add Employee</button>
    </div>
</div>