<div *ngFor="let employeeObject of employeeObjects" class="c1">
    <div class="profile-section-copy profile-section-copy-employee-page">
        <div>
            <img class="img-avatar" src="{{employeeObject.profilePicture}}">
        </div>
        <div>
            <p class="card-person-name">{{employeeObject.firstName}} {{employeeObject.lastName}}</p>
            <p class="card-person-role">{{employeeObject.jobTitle}}</p>
        </div>
    </div>
    <div class="card-sub-heading">
        <div>
            <img class="card-icons" src="../../../../assets/images/empId.svg">
        </div>
        <div>
            {{employeeObject.employeeId}}
        </div>
    </div>
    <div class="card-sub-heading">
        <div>
            <img class="card-icons" src="../../../../assets/images/email-1_svgrepo.com.svg">
        </div>
        <div>
            {{employeeObject.emailId}}
        </div>
    </div>
    <div class="card-sub-heading">
        <div>
            <img class="card-icons" src="../../../../assets/images/team_svgrepo.com.svg">
        </div>
        <div>
            {{employeeObject.department}}
        </div>
    </div>
    <div class="card-sub-heading">
        <div>
            <img class="card-icons" src="./../../../assets/images/location-pin-alt-1_svgrepo.com.svg">
        </div>
        <div>
            {{employeeObject.location}}
        </div>
    </div>
    <a id= "{{employeeObject.employeeId}}-view" class="a-view">
        <div class="view-arrow">
            <p>View</p>
            <img class="icon-arrow" src="../../../../assets/images/Vector.svg">
        </div>
    </a>
</div>